# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env.test
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

# Database
*.db
*.sqlite3

# Environment variables
.env

# Data directory
/data

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 
# Stray kernel fd files
anon_inode:*
pidfd:*
pipe:*
socket:*
